<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-justcash" version="0.2.3">
    <name>JustCash</name>
    <description>JustCash Cordova Plugin</description>
    <license>AGPL</license>
    <keywords>cordova,justcash</keywords>
    <js-module src="www/justcash.js" name="justcash">
        <clobbers target="justcash" />
    </js-module>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="JustCash">
                <param name="android-package" value="com.loop46.justcash"/>
            </feature>
        </config-file>
        <source-file src="src/android/JustCash.java" target-dir="src/com/loop46/justcash" />
        <framework src="src/android/justcash.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>

